@font-face {
    font-family: 'General sans';
    src: url(./font/GeneralSans-Regular.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: "General sans";
    src: url(./font/GeneralSans-Medium.otf) format('opentype');
    font-weight:bold;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General sans';
}
html,body{
    height: 100%;
    width: 100%;
}
#min{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width:10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.bound{
    width: fit-content;
    overflow: hidden;
}
.bound a{
    display:inline-block;
}
.boudelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: #000;
    color: #fff;

}
#home{
    width: 100%;
    height: 100vh;
    padding: 20px 40px;
    position: relative;

}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size:18px;
}
.hero{
    display: flex ;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
}
#heading{
    margin-top: 15vh;
}
#heading h1{
    font-size:9vw;
    line-height: .9;
    text-transform: uppercase;
    opacity: 0.7;
}
#secheading{
    margin-left: 5.5vw;
}

.block-h{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#heading h5{
    font-size: 1.2vw;
    margin-top: 1vh;
}
#second-heading{
    font-size: 1.5vw;
    /* margin-top: 10vh; */
    text-transform: uppercase;
    line-height: 2;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

#home-footer{
    width: 94.9%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
#home-footer a{
    text-decoration: none;
    color: #fff;
}
#down-arrow{
    display: flex;
    gap: 0.8vw;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height:2vw;
    width: 2vw;
    background-color: white;
    color: #000;
}

#menu{
    width: 100%;
    height: 100vh;
    padding: 3vw 5vw;
    padding-top: 11vw;
}
.elem{

    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border-top: 2px solid #888;
    padding:3vw 1vw;
    cursor: pointer;
    /* overflow: hidden; */
 
}
.elem h1{
    position: relative;
    font-size:6vw;
    opacity: 0.8;
}
.elem h5{
    opacity: 0.8;

}
.elem img{
    position: absolute;
    z-index: 999;
    height: 150%;
    opacity: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
#last-elem{
    border-bottom: 2px solid #888;
}
#about{
    width: 100%;
    padding: 10vw 0;
    padding-left: 40vw;
    display: flex;
    align-items: center;
    gap:2vw;
}
#imgabout img{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
}

#textabout{
    width: 40%;
}
#textabout h5{
    opacity: 0.7;
    margin-bottom: 10px;
}
#textabout p{
    font-weight: 500;
    margin-bottom: 20px;
}
#textabout a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding:7px 15px;
    border-radius: 40px;
    width: fit-content;
}
#subscribe{
    padding: 2vw 4vw;
    padding-bottom:5vw ;
}
#subscribe h5{
    opacity: .6;
}
#subscribe h3{
    font-size: 1vw;
    margin-top: 0.8vw;
}

#foter{
    width: 100%;
    padding: 2vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#foter #leftfooter{
    display: flex;
    align-items: center;
    gap: 4vw;
}
#rightfooter{
    display: flex;
    gap: 4vw;
}
#rightfooter a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}

@media screen and (max-width: 600px) {
    body{
        width: 100vw;
    }
    #home{
        padding: 3vw;
    }
    #home-footer{
        flex-direction: column;
        gap: 1vw;
        line-height:1.2;
        font-size:4.2vw
    }
    .circle{
        width: 5vw;
        height: 5vw;
        font-size: 3.5vw;
    }
    #heading h1{
        font-size:15vw;
    }
    #second-heading{
        font-size: 4vw;
        font-weight: 500;
        line-height:1.4;
    }
    #heading h5{
        font-size: 3vw;
        margin-top: 1.2vh;
    }
    .boudelem{
        font-size: 4vw;
    }
    #min{
        display: none !important;
    }
    #home-footer{
        padding-bottom: 4vh;
    }
    #menu{
        padding: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }
    #about{
        padding: 2vw;
        padding-left: 0;
        flex-direction: column;
    }
    #imgabout img{
        height: 50vw;
        width: 50vw;
    }
    #textabout{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.5vw;
    }
    #textabout h5{
        text-align: center;
    }
    #textabout p{
        text-align:justify;
    }
    #subscribe{
        margin-top: 6vh;
    }
    #subscribe h5{
        font-size: 3vw;
    }
    #subscribe h3{
        font-size: 4vw;
    }
    #foter{
        flex-direction: column;
        margin-top: 4vh;
        gap: 1vw;
        line-height:1.2;
        font-size:3vw;
        padding-bottom: 4vh;
    }
}
